/* ch1 */
.is-style-roundy-round li img {
	border-radius: 20px;
}

/* ch1 */
.is-style-blocky-block li img {
	border: 3px solid #222;
}

/* ch2 */
.is-style-blue-quote-1 {
	color: #0da6da;
}

/* ch2 */
.is-style-blue-quote-2 {
	color: #0884ad;
}

/* ch2 */
.is-style-blue-quote-3 {
	color: #025a86;
}

/* ch4 */
.modified-saved-element {
	border: 2px solid #025a86;
	border-radius: 10px;
	background-color: #98e5ff;
	padding: 10px;
}

/* ch6 */
.block-custom-class {
	background: #025a86;
	color: #98e5ff;
	padding: 20px;
}

/* ch9 */
.expecto-patronum {
	background-color: #98e5ff;
	border: 1px solid orange;
}

/* ch10 */
.aparecium {
	outline: 1px solid #98e5ff;
	border-radius: 10px;
}